@page
@{
    var channels = ViewBag.Channels as List<Channel>;
    var users = ViewBag.Users as List<User>;
    var messages = ViewBag.Messages as List<Message>;
    var currentUser = ViewBag.CurrentUser as User;
}

<h3>Welcome back @currentUser.Name</h3>
<h5>Site Overview - <a href="/User/Logout">Logout</a></h5>

Channels
<ul>
    @foreach(var channel in channels)
    {
        <li>@channel.Title</li>
        <ul>
            <li><a asp-controller="ChannelAuth" asp-action="AuthUserToChannel" asp-route-id="@channel.Id">@channel.Id</a></li>
            <li>Status: @channel.Status</li>
            <li>Messages:</li>
            <ul>
                @foreach (var message in channel.GetMessages())
                {
                    <li>@message.Sender: @message.EncryptedContents</li>
                }
            </ul>
        </ul>
    }
</ul>

Users
<ul>
    @foreach (var user in users)
    {
        <li>@user.Name</li>
        <ul>
            <li>Description: @user.Description</li>
            <li>Password: @user.Password</li>
            <li>Cookie: @user.CookieId.ToString()</li>
        </ul>
    }
</ul>

Messages
<ul>
    @foreach (var message in messages)
    {
        <li>@message.Id</li>
        <ul>
            <li>Channel: @message.Channel</li>
            <li>Contents: @message.EncryptedContents</li>
            <li>User: @message.Sender</li>
        </ul>
        <br />
    }
</ul>