@page
@{
    var channels = ViewBag.Channels as List<Channel>;
    var users = ViewBag.Users as List<User>;
    var messages = ViewBag.Messages as List<Message>;
}

<h2>Site Statistics</h2>

Channels
<ul>
    @foreach(var channel in channels)
    {
        <li>@channel.Title</li>
        <ul>
            <li>Id: @channel.Id</li>
            <li>Status: @channel.Status</li>
            <li>Messages:</li>
            <ul>
                @foreach (var message in channel.GetMessages())
                {
                    <li>@message.Sender: @message.EncryptedContents</li>
                }
            </ul>
        </ul>
    }
</ul>

Users
<ul>
    @foreach (var user in users)
    {
        <li>@user.Id</li>
        <ul>
            <li>Name: @user.Name</li>
            <li>Description: @user.Description</li>
            <li>Password: @user.Password</li>
        </ul>
    }
</ul>

Messages
<ul>
    @foreach (var message in messages)
    {
        <li>@message.Id</li>
        <ul>
            <li>Channel: @message.Channel</li>
            <li>Contents: @message.EncryptedContents</li>
            <li>User: @message.Sender</li>
        </ul>
        <br />
    }
</ul>