@page
@{
    var channels = ViewBag.Channels as List<Channel>;
    var users = ViewBag.Users as List<User>;
    var messages = ViewBag.Messages as List<Message>;
    var currentUser = ViewBag.CurrentUser as User;
}

<div id="channel_display">
    <h3>Welcome back @currentUser.Name</h3>
    <h4>
        <a asp-controller="Channel" asp-action="Create">Create Channel</a>
        or
        <a href="/User/Logout">Logout</a>
    </h4><br />
    <h4>Available Channels</h4>
    @foreach (var channel in channels)
    {
        <div>
            <h4>
                <a asp-controller="ChannelAuth" asp-action="AuthUserToChannel" asp-route-id="@channel.Id">@channel.Title</a>
            </h4>
            created by @channel.CreateUser on @channel.CreateDate.Day/@channel.CreateDate.Month/@channel.CreateDate.Year
        </div><br />
    }
</div>