@page
@model ActiveBear.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="messages/Create" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Channel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].EncryptedContents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].SendDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncryptedContents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendDate)
            </td>
            <td>
                <a href="messages/Details?id=@item.Id">Details</a>
                <a href="messages/Edit?id=@item.Id">Edit</a>
                <a asp-page="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Message" , asp-action="ViewAll">Test</a>
            </td>
        </tr>
}
    </tbody>
</table>
